<!-- <ion-view view-title="Login" align-title="left">
 -->
<!--   <ion-header-bar class="bar-calm">
	<h1 class="title">DOMISIL APP</h1>
  </ion-header-bar> -->


<!-- <ion-content style="background: url(img/fondo.jpg) center; background-size: cover;">
    	
    	<div class="no-header ">
            <div class="content">
                <div style="text-align:center; margin-top:10%;">
    				<img class="logo" src="img/ionic.png" alt="">
    			</div>
                <h1>Forshare</h1>
            </div>
        </div>
 -->


   <!--  	<div class="list padding">
    		<label class="item item-input">
    			
    			<input type="text" ng-model="login.usuario" placeholder="Usuario" required>
    		</label>
    		<label class="item item-input">
    			
    			<input type="password" ng-model="login.clave" placeholder="Pasword" required>
    		</label>
    		<label class="item item-input item-stacked-label" style="border:none; margin-top:20px;">
    			<div class="">
    				<button class="button button-full link btn-login " ng-click="ingresar()">Login</button>
    			</div>
    			<div class="register">
    				<button class="button button-full link btn-register " ng-click="signup()">Signup</button>
    			</div>
    		
    		 <div class="facebook">
            	<button class="button button-full button-positive">Login with Facebook</button>
        	</div>
    	</div> -->
<!--   </ion-content>

</ion-view>
 -->






<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/fondo.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Forshare</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" ng-model="login.usuario" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" ng-model="login.clave" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="">
            <button ng-click="ingresar()" class="button button-full button-assertive ink">Login</button>
        </div>

        <div class="">
            <button ng-click="signup()" class="button button-full button-balanced ink">
            	Signup
            </button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
